/* @import "compass/css3";

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900); */


#chris {
    /* display: inline-block; */
    /* height: auto; */
    max-width: 100%;
  }

/* #about {
  padding: 20px;
} */

.intro-body {
  padding: 25px;
}
  
