/* @import "compass/css3";

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900); */


#chris {
    border: 0 none;
    /* display: inline-block; */
    height: auto;
    max-width: 100%;
    padding: 20px;
  }

#about {
  padding: 20px;
}

.intro-body {
  padding: 25px;
}
  
